
<%-include ("../partials/headUser")%> 

<h1>Bookings</h1>

<div class="container" style= "display : flex">

    <h2>Drawing Class</h2>
<% for(const booking of bookings){ 
    if(booking.class == 1) {%>
<div class="message_container">
    <p>Name : <%= booking.name %> </p>
    <p>Email: <%= booking.email %> </p>
    <p>Created at : <%= booking.createdAt %> </p>
    <a href="/admin/removebooking/<%=booking.id%>">Remove</a>
</div>
  <%}}%>
   <h2>Language Class</h2>
   <% for(const booking of bookings){
  if(booking.class == 2) {%>
   
<div class="message_container">
    <p>Name : <%= booking.name %> </p>
    <p>Email: <%= booking.email %> </p>
    <p>Created at : <%= booking.createdAt %> </p>
    <a href="/admin/removebooking/<%=booking.id%>">Remove</a>
</div>  <%}}%>
 <h2>Science Class</h2>
 <% for(const booking of bookings){
  if(booking.class == 3) {%>
    

<div class="message_container">
    <p>Name : <%= booking.name %> </p>
    <p>Email: <%= booking.email %> </p>
    <p>Created at : <%= booking.createdAt %> </p>
    <a href="/admin/removebooking/<%=booking.id%>">Remove</a>
</div>
  <%}
 } %> 
</div>