<%-include ("../partials/headUser")%> 

<h1 class="adminPage__maintitle">Comments</h1>
<div class="message_container">

<% for(const comment of comments){ 
    if (comment.id == 1 || comment.id == 2 ||comment.id == 3 || comment.id == 4 || comment.id == 5){ %>
 <div class="message">
    <p class="inputs"><span class="inputs__span"><%=comment.name%>, <%=comment.email%> : </span> <%=comment.message%></p>
    <br>
    <p>&#10008 Comment not removable &#10008</p>    
</div>
<%} else {%>
    <div class="message">
    <p class="inputs"><span class="inputs__span"><%=comment.name%>, <%=comment.email%> : </span> <%=comment.message%></p>
    <div class="removelink"><a href="/user/removecomment/<%=comment.id%>" class="removelink__a">Remove</a></div>
</div>
<%}
 } %> 

</div>