<%-include ("../partials/headUser")%> 

<h1 class="adminPage__maintitle">Newsletter Requests</h1>
<div class="message_container">
<% for(const request of requests){ %> 
<div class="message">
     <p class="inputs"><span class="inputs__span">Name :</span> <%= request.name %> </p>
     <p class="inputs"><span class="inputs__span">Email: </span><%= request.email %> </p>
     <p class="inputs"><span class="inputs__span">Created at :</span> <%= request.createdAt %> </p>
     <div class="removelink"><a href="/admin/removerequest/<%=request.id%>" class="removelink__a">Remove</a></div>
</div>
<% } %> 
</div>