<%-include ("partials/header")%>
<nav class="navbar">
    <a href="/" class="navbar__links navbar__links--left ">Home</a>
    <a href="/about" class="navbar__links">About</a>
    <a href="/classes" class="navbar__links">Classes</a>
    <a href="/teachers" class="navbar__links">Teachers</a>
    <a href="/gallery" class="navbar__links" id="galleryLink">Gallery</a>
    <div class="pageMenuContainer navbar__links"><span class="pagespan">Pages <i class="fa-solid fa-caret-down pageMenu"></i></span>
        <div class="linkcontainer"><a href="/pages" class="navbar__links doubleLink">Our Blog</a>
        <a href="/blogdetails" class="navbar__links doubleLink">Last Article</a></div>
    </div>
    
    <a href="/contact" class="navbar__links">Contact</a>
</nav>
<div class="navContainer">
    <a href="/login" class="login">Log in</a>
    <a href="/classes" class="joinclass__btn">Join Class</a>
    </div>
</header>
<main class="maincontent">
    <section class="banner banner__pages">
<div class="banner__part1">
    <h1 class="banner__title">Last Article</h1>
    <p class="banner__description banner__description--pages"><a href="/" class="banner__link"> Home</a> / Blog Detail</p>
</div>
</section>
<div class="bigcontainer">
<div class="blogdetail__container">
<section class="blogcontent">
    <h3 class="content__subtitle">BLOG DETAIL PAGE</h3>

    <h2 class="content__title content__title--size left"><%= newArticle.maintitle  %> </h2>
<div class="article__container">
    <article class="blogarticle--page">
        <p class="blogarticle__details-page">


        </p>
        <img src="../uploads/<%=newArticle.main_img%>" alt="blog1" class="blogarticle__image--detail1">

        <p class="blogarticle__description-page"><%=newArticle.introduction%></p>

    </article>

    <article class="blogarticle--page">
     <h3 class="blogarticle__title blogarticle__title-page"><%=newArticle.title1%></h3>
        <img src="../uploads/<%=newArticle.img1%>" alt="blog2" class="blogarticle__image--detail2">

        <p class="blogarticle__description-page"><%=newArticle.description1%></p>
    </article>
    
    <article class="blogarticle--page">
        <h3 class="blogarticle__title blogarticle__title-page"><%=newArticle.title2%></h3>
           <img src="../uploads/<%=newArticle.img2%>" alt="blog2" class="blogarticle__image--detail3">

           <p class="blogarticle__description-page"><%=newArticle.description2%></p>
       </article>
</div>
</section>
<%if (comments){%>
    <section class="comments">
    
            <%if (comments.length <= 1) {%>     
                <h2 class="content__title content__title--size"> <%=comments.length%> Comment </h2>
                 <% } else {%>   
                <h2 class="content__title content__title--size">  <%=comments.length%> Comments </h2>
            <% } %>
        <%for (const comment of comments){%>
        <div class="comment--detail">
           <div class="div__usercomment">
            <strong class="comment--writer bold"><%=comment.name%></strong>
            <em class="datetime"> <%=comment.createdAt%></em>
            <p class="comment--p"><%=comment.message%></p>
            </div>
        </div><%}
    }%>
    </section>
<section class="blog__messageform">
    <div class="contact__formcontainer">
        <h3 class="content__title contact__title ">Leave a comment</h3>
        <form action="" class="contact__form--blog " method="POST">
            <label class="label" for="namecomment">Name *</label>
            <input type="text" id="name" name="namecomment" class="contactform__input" required>
            <label class="label" for="emailcomment">Email *</label>
            <input type="email" id="email" name="emailcomment" class="contactform__input" required>
            
            <label class="label" for="comment__message">Message *</label>
            <textarea name="comment__message" id="contact__message" cols="10" rows="10" class="contactform__input contact__message" required></textarea>
            <button type="submit" class="contact__btn contact__btn--comment ">Leave a comment</button>
        </form>
    </div>
    </section>
</div>    

<aside>
 
<div class="blog__author">
<img src="../uploads/<%=newArticle.author_img%>" alt="blog-author-img" class="blog__author-img">
<h2 class="blogarticle__title blogarticle__title--author"><%=newArticle.authorname%></h2>

<p class="blog__author--p"><%=newArticle.authorjob%> </p>
</div>


<section class="categories">
<h2 class="content__title">Categories</h2>
<ul><% for (const tag of tags){%>
<li class="list-elem"><a href="/tag/<%=tag.id%>" class="categories__links"><%=tag.name%></a></li>
<% }%>
</ul>

</section>
<section class="recent__post">
    <h2 class="content__title content__title--size">Recent Post</h2>
    <% for (const article of articles){%>
    <article class="blogarticle blogarticle--post">
        <div class="recentarticle__img"><img src="../uploads/<%=article.main_img%>" alt="blog3" class="blogarticle__image--post"></div>
        <a href="/blogdetails/<%=article.id%>" class="link_blog">
            <h3 class="blogarticle__title"><%=article.maintitle%></h3>
       </a>
    </article>
<%}%>
</section>
</aside>

  
</main>
    <%-include ("partials/footer2")%>