<%-include ("partials/header")%>
<nav class="navbar">
    <a href="/" class="navbar__links navbar__links--left ">Home</a>
    <a href="/about" class="navbar__links">About</a>
    <a href="/classes" class="navbar__links">Classes</a>
    <a href="/teachers" class="navbar__links">Teachers</a>
    <a href="/gallery" class="navbar__links" id="galleryLink">Gallery</a>
    <div class="pageMenuContainer navbar__links"><span class="pagespan">Pages<i class="fa-solid fa-caret-down pageMenu"></i></span>
        <div class="linkcontainer"><a href="/pages" class="navbar__links doubleLink">Our Blog</a>
        <a href="/blogdetails" class="navbar__links doubleLink">Last Article</a></div>
    </div>
    
    <a href="/contact" class="navbar__links">Contact</a>
</nav>
<a href="/login">Log in</a>
<a href="/classes" class="joinclass__btn">Join Class</a>
</header>
<main class="maincontent">
    <section class="banner banner__pages">
        <div class="banner__part1">
            <h1 class="banner__title">Our Blog</h1>
            <p class="banner__description banner__description--pages"><a href="index.html" class="banner__link"> Home</a> / Our Blog</p>
        </div>
    </section>

    <div class="container">
        <section class="blogcontent">
            <h3 class="content__subtitle content__subtitle--border">Latest Blog</h3>
            <h2 class="content__title content__title--size">Latest articles from our blog</h2>
     <div class="article__container">

    <% for (const article of articles){ %>         
            <article class="blogarticle">
                <img src="../uploads/<%=article.main_img%>" alt="blog1" class="blogarticle__image">
                <h3 class="blogarticle__title"><%=article.maintitle%></h3>
                <p class="blogarticle__details">
                   
                </p>
                <p class="blogarticle__description"><%=article.introduction%></p>
                <a href="/blogdetails/<%=article.id%>" class="joinclass__btn joinclass__btn--center">Read More</a>
            </article>
        <%}%>
           

    </main>
<%-include ("partials/footer")%>